# Based on https://github.com/greatfire/envoy/blob/master/apps/nginx.conf
#
# updated based on recommendations from https://ssl-config.mozilla.org/

# this logging is useful for debugging
# also set the error_log to something lower than `emerg`, like `warn` for debugging
log_format my_upstream '$proxy_protocol_addr - $remote_user [$time_local] '
                       '"$request" $status $body_bytes_sent '
                       '"$http_referer" "$http_user_agent" "$http_host" "$http_url_orig" "$http_host_orig"';

# this logging format is better for privacy
# from https://f-droid.org/2019/04/15/privacy-preserving-analytics.html
geoip_country /usr/share/GeoIP/GeoIP.dat;
log_format privacy '0.0.0.0 - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "-" $geoip_country_code';


server {
    listen 80;
    listen [::]:80;
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ proxy_hostname }};

    access_log /var/log/nginx/access.log privacy;
    error_log /var/log/nginx/error.log emerg;

    ssl_certificate /usr/local/envoy/{{ proxy_hostname }}.pem;
    ssl_certificate_key /usr/local/envoy/{{ proxy_hostname }}-key.pem;
    ssl_session_timeout 1d;
    ssl_session_tickets off;

    ssl_protocols TLSv1.3;
    ssl_prefer_server_ciphers off;

    ssl_stapling off;
    ssl_stapling_verify on;

    # Quad9 https://www.quad9.net/
    resolver 9.9.9.9 149.112.112.112 [2620:fe::fe] [2620:fe::9];

    # Open proxy config. You probably don't want to run an open proxy server,
    # but this may be useful if you have external access control, or as a 
    # barebones example
    #
    # location ~ ^/p/ {
    #     #proxy_bind 1.2.3.4;
    #     proxy_ssl_server_name on;
    #     proxy_buffering off; # disable buffer for stream
    #     proxy_pass $http_url_orig;
    #     proxy_set_header Host $http_host_orig;
    #     proxy_hide_header Host-Orig;
    #     proxy_hide_header Url-Orig;
    #     proxy_pass_request_headers on;
    # }

    # curl -H 'Url-Orig: https://en.wikipedia.org/wiki/Main_Page' -H 'Host-Orig: en.wikipedia.org' https://@@DOMAIN@@/wikipedia/?1
    # curl -H 'Url-Orig: https://en.wikipedia.org/wiki/Main_Page' -H 'Host-Orig: en.wikipedia.org' https://@@DOMAIN@@/wikipedia/?2
    location ~ ^/wikipedia/? {
        #proxy_bind 1.2.3.4;
        proxy_ssl_server_name on;
        proxy_pass $http_url_orig;             # make the request to the value if the Url-Orig header
        proxy_buffering off;                   # disable buffer for stream
        proxy_set_header Host $http_host_orig; # set the Host header from the Host-Orig header
        proxy_hide_header Host-Orig;           # don't pass the Host-Orig and Url-Orig headers on
        proxy_hide_header Url-Orig;
        proxy_pass_request_headers on;         # pass other headers on

        # for lua module, apt install nginx-extras
        rewrite_by_lua_block {
            local upstream_host = ngx.var.http_url_orig:match('^%w+://([^/]+)')
            if upstream_host:sub(-string.len(".wikipedia.org")) ~= ".wikipedia.org" and
                upstream_host:sub(-string.len(".wikimedia.org")) ~= ".wikimedia.org" and
                upstream_host:sub(-string.len(".wikidata.org")) ~= ".wikidata.org" and
                upstream_host:sub(-string.len(".google.com")) ~= ".google.com" then
                -- ngx.req.set_uri("/error")
                ngx.status = ngx.HTTP_UNAUTHORIZED
                ngx.say("invalid request")
                ngx.log(ngx.ERR, "invalid upstream host:", upstream_host)
                ngx.exit(ngx.HTTP_OK)
            end
        }

        header_filter_by_lua_block {
            ngx.header["x-client-ip"] = nil
        }
    }

    # This config is actually part of the v2ray example, including it here makes
    # the examples compatible with each other. If you're not using v2ray, remove
    # this block
    #
    # the URL `hEA7` is a random string, change it to anything you want, but be
    # sure to update the client and server config to match.
    location /hEA7 {
		if ($http_upgrade != "websocket") { # Return 404 error when WebSocket upgrading negotiate failed
			return 421;
		}
		proxy_redirect off;
		proxy_pass http://127.0.0.1:10000;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
		proxy_set_header Host $host;
		# Show real IP in v2ray access.log
		# proxy_set_header X-Real-IP $remote_addr;
		# proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	}
}
